services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb
      - DEBUG=1
      - DATA_DIR=/var/lib/localstack/data
    volumes:
      - "./.localstack:/var/lib/localstack"

